*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('./img/image_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(186, 186, 186);
}

canvas{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(black, white);
}

